<h1>New shortener</h1>

<%= form_for(@shortener) do |f| %>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit "Shorten" %>
  </div>
<% end %>

<%= link_to 'Back', shorteners_path %>
