<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @shortener.url %>
</p>

<p>
  <b>Shortened Link:</b>
  <a href="<%= @shortener.shortlink %>"><%= @shortener.shortlink %></a>
</p>

<%= link_to 'Back', shorteners_path %>
