<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @shortener.url %>
</p>

<p>
  <b>Key:</b>
  <%= @shortener.key %>
</p>


<%= link_to 'Edit', edit_shortener_path(@shortener) %> |
<%= link_to 'Back', shorteners_path %>
